<div id="slide">
    {% for i in 0..3 %}
    	<div id="frag{{ i+1 }}" class="ui-tabs-panel 
    	{% if i != 0 %}
    	ui-tabs-hide
    	{% elseif i == 0 %}
    	select
    	{% endif %}
    	">
    		<img src="{{ breves[i].illustration }}" alt="" width="620px" height="350px"/>
		<div class="info" >
			<div class="txt">
				<p>
					<span class="entete">{{ breves[i].categorie.libelle }}</span><br>
					<span class="title"><a href="{{ path('DFBreveBundle_afficherBreve', { id_breve: breves[i].id }) }}">{{ breves[i].title }}</a></span>
				</p>
			</div>
		</div>
    </div>
    {% endfor %}
    <div id="frag">
		<span class="chx" id="1">•</span>
		<span class="chx" id="2">•</span>
		<span class="chx" id="3">•</span>
		<span class="chx" id="4">•</span>
	</div>
</div>